@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Constantia';
  src: url('/fonts/constan.ttf') format('truetype');
}

.company-font-only {
  font-family: 'Constantia', sans-serif;
}

.company-font {
  font-family: 'Constantia', sans-serif;
  @apply text-lg sm:text-xl md:text-3xl;
}

.hero-section-header {
  @apply text-2xl sm:text-4xl md:text-6xl font-bold text-borderColor2;
}

body {
  /* font-family: 'Constantia', sans-serif; */
}

.custom-bg-gradient {
  background: linear-gradient(to right, #101010 0%, #101010 70%, #9C2327 100%);
}



/* scrollbar css */
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(49, 49, 49)
}

body::-webkit-scrollbar-track-piece {
  background: rgb(49, 49, 49);
}

body::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
    inset -1px 2px 3px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.custom-toast {
  font-family: 'Babylon', sans-serif;
  font-size: .8rem;
}

.active-nav-comp {
  /* box-shadow: 2px 2px 20px cyan; */
  filter: drop-shadow(2px 2px 20px cyan);
}

/* HOME */
.homepage-video-iframe {
  width: 100vw;
  height: 56.25vw; /* Aspect ratio of 16:9 */
  min-height: 100vh;
  min-width: 177.77vh; /* Aspect ratio of 16:9 */
  object-fit: cover;
  transform-origin: center center;
}

@media (max-width: 767px) {
  /* For small devices */
  .homepage-video-iframe {
    transform: scale(1.4);
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  /* For medium and larger devices */
  .homepage-video-iframe {
    transform: scale(1.4);
  }
}

@media (min-width: 1920px) {
  /* For TV or very large screens */
  .homepage-video-iframe {
    transform: scale(2.0); /* Higher scale for TV */
  }
}

.partner-images{
  /* width: 15%; */
  aspect-ratio: 4/3;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
}
/* HOME */


.gas {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  
  align-items: center;
  border: 2px solid currentColor;
  box-shadow: 
    /* --- "glass" tube --- */
    /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
    /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
    /* --- glow --- */
    /* inside */ inset 0 0 var(--box-blur) var(--glow),
    /* outside */      0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
  display: inline-flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  justify-content: space-around;
  
  > * {
    margin: 0;
    padding: 0;
  }
  
  .symbol { 
    /* font-size: 700;  */
    font-family: 'Neon Glow';
    text-shadow: 0 0 var(--blur) var(--glow);
  }
  
  &.he { --color: #FCEAAC; filter: saturate(175%); }
  &.kr { --color: #B7E7F7; filter: saturate(200%); }
  &.xe { --color: #C4C4C6; filter: brightness(105%); }
}